[Unit]
Description=Start ss-redir
Requires=network-online.target
After=network.target network-online.target multi-user.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/ss
ExecStart=ss-redir -c /etc/ss.json -u
Restart=on-failure
RestartSec=5
KillMode=process


[Install]
WantedBy=network-online.target
